.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-13 {width: 12.50%;}

.nav-menu
{
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #44535c;
}
.nav-menu a
{
    background-color: transparent;
}
.home-section
{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 70vh;
    margin-top: 15%;
    
}
.home-button {
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: 45%;
    border-radius: 4px;
}

img
{
    width: 300px;
    margin-top: 100px;
}
.profile-info
{
    margin-top: 100px;

}
.profile-info p
{
    text-align: left;
    margin-left: 10px;
}
.about-me
{
    height: 100vh;
}
.about-me-hr
{
    border-bottom: none;
}

.education
{
    height: 100vh;
    margin-top: 80px;
}
.education .card
{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    height: 500px;
    transition: 0.3s;
}
.contact
{
    height: 70vh;
}