*{
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    background-color: #232835;
}

.navbar
{
    background-color: #525E65;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


 [class*="col-"]{
    float: left;
    padding: 10px;
}

/* for mobile */
[class*="col-"]{
    width: 100%;
}

/* floting clear */
.navbar::after
{
    content: '';
    display: table;
    clear: both;
}
.common-hr
{
    border: 5px dotted white;
    width: 50px;
    border-bottom: none;
    /* margin-left: 48%; */
    margin: auto;
}

/* navbar start here */
.nav-menu
{
    display: flex;
    flex-direction: column;
}
.nav-menu a
{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color:#44535c;
    border-radius: 10px;
    margin: 7px;
}
.nav-menu a:hover
{
    background-color: grey;
}
.navbar::after
{
    content: '';
    display: table;
    clear: both;
}
/* navbar ends here */

/* home section start here */
.home-section
{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 60vh;
    margin-top: 40%;
    
}
.home-section span
{
    color: crimson;
    
}
.home-section p
{
    text-align: center; 
}
.home-button {
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: 35%;
}
i
{
   margin-left: 5px;
}
.home-button:hover {
    background-color: grey;

}
.regular-hr
{
    width: 90%;
    border: 1px solid #c2c0c02c;
    border-bottom: none;
}

/* home section ends here */

/* about me section start */
.about-me
{
    height: 100vh;
}

h2
{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.profile-pic
{
    margin-top: 30px;
    text-align: center;
}
img
{
    border-radius: 50%;
    width: 200px;
}
.profile-info
{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.profile-info span
{
    color: red;
}

.about-me-hr
{
    border-bottom: none;
    margin: 0px 10px;
}
.cv-button
{
    text-align: center;
}
.cv-button button
{
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 12px;
    background-color: cornflowerblue;
    margin: 15px;
    color: white;
    cursor: pointer;
}
.about-me::after
{
    content: '';
    display: table;
    clear: both;
}


/* about me section end */

/* education and work experience  start*/

.education
{
    height: 90vh;
}
.education .card
{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    height: 500px;
    transition: 0.3s;
    margin: 10px 10px;
}
.education .card:hover
{
    box-shadow: 0px 4px 8px 5px black;
}
.education li
{
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.card-icon
{
    text-align: center;
    font-size: 40px;
}
.card-icon i
{
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 15px;
}
.card-title
{
    background-color: #616161;
    border-radius: 5px;
    text-align: center;
}

.card-hr
{
    color: white;
}

.education span
{
    font-size: 13px;
}

.skills-container li
{
    list-style-type: none;
    font-weight: bolder;
    margin: 20px 5px;
    position: relative;
}

.skills-container li::before
{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;

    width: 100%;
    height: 10px;
    background-color: rgb(86, 86, 153,0.5);
    border-radius: 1000px;
}

.skills-container li::after
{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;

    width: 0;
    height: 10px;
    background-color: rgb(86, 86, 153,1);
    border-radius: 10px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.skills-container li.html::after
{
    animation-name: html;
}
@keyframes html
{
    to
    {
        width: 80%;
    }
}

.skills-container li.css::after
{
    animation-name: css;
}
@keyframes css
{
    to
    {
        width: 80%;
    }
}

.skills-container li.bootstrap::after
{
    animation-name: bootstrap;
}
@keyframes bootstrap
{
    to
    {
        width: 85%;
    }
}

.skills-container li.javaScript::after
{
    animation-name: javaScript;
}
@keyframes javaScript
{
    to
    {
        width: 90%;
    }
}

.skills-container li.jquery::after
{
    animation-name: jquery;
}
@keyframes jquery
{
    to
    {
        width: 90%;
    }
}

.skills-container li.github::after
{
    animation-name: github;
}
@keyframes github
{
    to
    {
        width: 95%;
    }
}

.skills-container li.git::after
{
    animation-name: git;
}
@keyframes git
{
    to
    {
        width: 70%;
    }
}




.education::after
{
    content: '';
    display: table;
    clear: both;
}
/* education and work experience end  */


/* contact start here */

.contact-title h1
{
    color: white;
    text-align: center;
    font-size: 50px;
}

.question p
{
    color: rgb(205, 101, 37);
    text-align: center;
}
.contact-form
{
    text-align: center;
}

.contact-form input
{
    background-color: #232835;
    border: 1px solid #585e6c;
    padding: 10px;
    margin: 10px 20px;
    width: 80%;
}
.contact-form textarea
{
    background-color: #232835;
    border: 1px solid #585e6c;
    padding: 40px;
    margin: 10px 20px;
    width: 80%;
}

.contact-form button
{
    background-color: transparent ;
    color: white;
    border: 1px solid white;
    padding: 5px;
    width: 100px;
}
.contact-form button:hover
{
    background-color: cyan ;
    border: none;
}



.contact::after
{
    content: '';
    display: table;
    clear: both;
}
/* contact ends here  */


/* footer start here  */
.footer
{
    color: white;
    text-align: center;
    margin-top: 20px;
}
.Contact-icon button
{
    border-radius: 5px;
}
